@import '../../common/scss/base.scss';

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 50px;
  margin-right: 50px;
  cursor: pointer;

  &:nth-child(3n) {
    margin-right: 0px;
  }

  .movie-cover {
    position: relative;
    width: $card-width;
    height: 455px;

    .movie-img {
      width: $card-width;
      height: 455px;
      margin-bottom: 20px;
    }

    .menu-icon {
      position: absolute;
      right: 10px;
      top: 10px;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s linear;
    }
  }

  .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0.7;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 322px;

    .card-title {
      font-size: 18px;
    }

    .year {
      border: 1px solid $gray;
      border-radius: 5px;
      padding: 5px 15px;
    }
  }

  .genres {
    width: $card-width;
    font-size: 14px;
    opacity: 0.7;
  }

  &:hover > .movie-cover > .menu-icon {
    visibility: visible;
    opacity: 1;
  }
}
