@import '../common/scss/base.scss';

.content {
  max-width: $lg;
  width: 100%;
  margin: 0 auto;
}

.not-found {
  display: flex;
  justify-content: center;
  padding-top: 20px;

  h1 {
    font-weight: 400;
  }
}
